/* Color palette
	https://colorhunt.co/palette/061e291d546d5f9598f3f4f4
*/

/* Native */
.root {
    -fx-font-family: "Arial";
    -fx-text-fill: #F3F4F4;
}


.button {
    -fx-background-color:#5F9598;
    -fx-text-fill: white;
}

.vbox {
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-background-color: #f4f4f4;
    -fx-border-color: #cccccc;
    -fx-border-width: 2;
}

/*Custom*/

.availableBugemons{
	-fx-border-color: gray;
 	-fx-padding: 1;
  	-fx-alignment: center;
}

.selectedBugemons{
	-fx-border-color: gray;
 	-fx-padding: 1;
  	-fx-alignment: center;
}
